*{margin:0;}
ul,li,ol{list-style: none;}
a{text-decoration: none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
img{border:none;}
body{font-size: 12px;font-family: "微软雅黑";}
/*main*/
.free{width:100%;height:100%;background:#f2f2f2;}
.free .center{width:1139px;height:auto;margin:0 auto;}

.mainL{width:222px;height:618px;background:#fff;padding-left:30px;margin-top:10px;}
.mainL h3{width:120px;height:52px;line-height:52px;}
.mainL h3 a{font-size:20px;color:#574545;}
.mainL h1{width:120px;height:45px;line-height:45px;}
.mainL h1 a{font-size:14px;color:#574545;}
.mainL p a{color:#574545;height:32px;line-height:32px;}
.mainL a:hover{color:#c69a62;}
.wallfall{width:814px;height:auto;margin-top:10px;}
.wallfall .picture {float:left;width:230px;height:400px;margin-right:24px;}
.wallfall img{float:left;margin-left:10px;margin-top:30px;}
.wallfall .price{float:left;margin-left:160px;display:inline-block;width:48px;height:20px;line-height:20px;font-size:14px;color:#ec3e7d;}


/*.wallfall  .price a{font-size:20px;color:#ec3e7d;}*/

/*.wallfall .picture .dis{font-size:16px;color:#3e3e3e;height:65px;line-height:36px;overflow:hidden;}*/
.wallfall  .brand{margin-top:20px;color:black;font-weight:bolder;}
.wallfall  .name{margin-top:20px;color:black;width:160px;height:20px;line-height:20px;display:inline-block;text-align:center;font-size:14px;}
.wallfall  .count{margin-top:12px;color:black;width:160px;height:20px;line-height:20px;display:inline-block;font-weight: 100;}

.button{ width:750px; height:40px;margin-left:300px; overflow:hidden; position:relative;}
.button .size{ width:30px; height:30px; display:block; overflow:hidden; float:left; line-height:30px; text-align:center; font-size:14px; color:#555; margin-left:4px; border:solid 1px #ccc; margin-top:4px; cursor:pointer;}
.button .tip{display:block;font-size:14px;text-align:right;height:30px;line-height:30px;position:absolute;top:4px;right:4px;}
/*bottom*/
.bottom{width:100%;height:416px;border-top:4px solid #c69a62;}
.bottomIn{width:1139px;height:226px;background: url("../images/bot1.jpg") no-repeat left top;margin-top:52px;margin-left:38px;}
.bottomIn .lj{width:540px;height:150px;margin-left:212px;}
.bottomIn .lj ul{float:left;margin-right:10px;}
.bottomIn .lj ul a{color:#ec3e7d;font-size:14px;}
.bottomIn .lj ul li{height:23px;line-height:23px;margin-top:10px;}
.bottomIn .ma{margin-right:76px;width:218px;height:120px;}
.bottomC{width:100%;height:52px;border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;}
.bottomC  ul{margin-left:38px;width:1139px;height:52px;}
.bottomC  ul li{float:left;font-size:14px;color:#cda093;margin-left:32px;line-height:52px;}
.copy {margin-left:40px;width:1139px;height:76px;line-height:76px;color:#999999;}
.copy p span{margin-left:588px;}

