ul,ol,li{list-style: none;}
body{font-size:12px;font-family: "Î¢ÈíÑÅºÚ","Arial";}
.left{float:left;}
.right{float:right;}
img{border:none;}
/*main*/
.main{width:100%;height:550px;}
.mainIn{width:1139px;height:550px;margin:40px auto;}
.Img{margin-top:76px;width:600px;height:356px;}
.reg{width:414px;height:498px;border:2px solid #f2f2f2;}
.zc{width:352px;height:294px;margin-top:38px;margin-left:32px;}
.zc .head{width:352px;height:24px;line-height: 24px;margin-bottom: 24px;}
.zc span{margin-left:116px;height:24px;line-height: 24px;}
input{color:#999999;width:352px;height:35px;margin-top:24px;}
.agee{width:352px;height:35px;line-height: 35px;}
#agree{width:14px;height:14px;display:block;}
.agee a{margin-top:-24px;margin-left:30px;}
#btn{border:none;background:#ec3e7d;color:#fff;}

/*bottom*/
.bottom{margin:0 auto;color:#999999;width:1139px;height:24px;line-height:24px;}
.bottom span{margin-left:486px;}

.third{width:352px;height:72px;margin-left:32px;margin-top:44px;}
.third p{font-size:14px;margin-bottom:22px;}
.third .first{background:url("../images/login01.jpg") no-repeat left center;height:38px;}
.third .first a{color:black;margin-left:36px;}
.third .second{background:url("../images/login02.jpg") no-repeat left center;height:38px;}
.third .second a{color:black;margin-left:36px;}
.third .thd{background:url("../images/login03.jpg") no-repeat left center;height:38px;}
.third .thd a{color:black;margin-left:36px;}